# Created by .gitignore support plugin (hsz.mobi)
### Node template
build
# Dependency directory
# Commenting this out is preferred by some people, see
# https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules
build.zip
# Users Environment Variables
.idea
